<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8" />

    <base href="/" />

    <link href="css/bootstrap/bootstrap.min.css"
          rel="stylesheet" />

    <link href="app.css"
          rel="stylesheet" />

    <link href="FitnessHouseNewsBot.styles.css"
          rel="stylesheet" />

    <HeadOutlet />

</head>

<body>

<Routes />

<script>
    window.fitnessHouseTheme = {
        get: function (key) {
            return window.localStorage.getItem(key);
        },
        set: function (key, value) {
            window.localStorage.setItem(key, value);
        }
    };

    window.fitnessHouseSession = {
        get: function (key) {
            return window.sessionStorage.getItem(key);
        },
        set: function (key, value) {
            window.sessionStorage.setItem(key, value);
        },
        remove: function (key) {
            window.sessionStorage.removeItem(key);
        }
    };
</script>
<script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
